/* ========================= */
/* Menu Section Start here */
/* ========================= */
.navbar{
    background: transparent;
}
/* menu icon */
.menu_icon{
    margin-left: 15px;
    padding: 0;
    width: 45px;
    height: 46px;
    font-size: 35px;
    color:#00000099;
}
.menu_icon:focus{
    box-shadow:none;
}
/* logo */
.navbar-brand{
    position: absolute;
    top: 20%;
    left: 50%;
}
.navbar-brand  img{
    width: 100px;
}
.offcanvas-title img{
    width: 100px;
}
/* menu item header */
.offcanvas-start{
    width: 300px;
}
.accordion-item{
    border: none;
}
.accordion-header button{
    color:#6e6e6e;
    font-size: 14px;
    background: none;
    border: none;
    font-weight: 600;
}
.accordion-header button:focus{
    background: none;
    border: none;
    color: #6e6e6e !important;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none;

}
/* menu item body */

.accordion-body{

}
.accordion-body ul{
    background:#F5F8FB;
    padding: 2% 5%;
    border-radius: 10px;

}
.accordion-body ul li{
    list-style: none;
    margin: 6px 0;
}
.accordion-body ul li a{
    text-decoration: none;
    color: #6e6e6e;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}
/* ========================= */
/* Menu Section End here */
/* ========================= */

/* ========================= */
/* Slider Section Start here */
/* ========================= */
.slider{
    position: relative;
    margin-top:-6.1%;
}
.slider_single_item{
    width: 110%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom-out 3s linear;
    animation-iteration-count:infinite;
    animation-direction: alternate; 
    animation:none;
}
.img_1{
    background-image: url(../images/pic1.png);
}
.img_2{
    background-image: url(../images/pic1.jpg);
}
.img_3{
    background-image: url(../images/pic2.jpg);
}
.img_4{
    background-image: url(../images/pic3.jpg);
}
.img_5{
    background-image: url(../images/pic4.jpg);
}
.s_text{
    position: absolute;
    top: 25%;
    left: 25%;
    color: #ffffff;
    width: 60%;
    text-transform: capitalize;
    animation: text-up 3s linear infinite;
    transform: translateY(100px);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
    font-weight: 400;
     animation:none;

}
.s_text h1{
    font-size:40px;
    margin-bottom: 20px;
}
.s_text p{
    font-size: 18px;
    line-height: 28px;
}
.black{
    color: black;
}
/* ================== */
/* Search Box */
/* ================== */
.search_box{
    margin: 0 auto;
    width: 75%;
    position: absolute;
    bottom: 12%;
    right: 18%;
}
.search_box input{
    padding: 10px 15px;
    width: 95%;
    height:40px;
    border: none;
    background-color: white;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
    transition: 0.8s linear ;
}
.search_box input:focus{
    background-color: black;
    color: #ffffff;
}
.search_box i{
    position: absolute;
    right: 7%;
    bottom: 29%;
    color: grey;
}
/* ====================== */
/* Carossel_indicator */
/* ===================== */
.carousel-indicators{
    bottom: 100px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height:10px;
    border: 2px solid #ffffff;
    border-radius:15px;
    background-color: transparent;
    transition: 0.6s linear;
}
.carousel-indicators .active {
    width:45px;
    background-color: #ffffff;
    border: none;
}
/* ============================ */
/* Carosel_control button  */
/* =========================== */
.carousel-control-prev{
    width: 30px;
    top: 80%;
    padding: 17px 19px;
    font-size: 15px;
    left: 84.2%;
    height: 20px;
    background-color:#ffffff;
    color:  rgb(139, 134, 134) !important ;
    opacity: 1;

}
.carousel-control-prev:hover{
    color: #000;
}
.carousel-control-next{
    padding: 17px 14px;
    font-size: 15px;
    width: 30px;
    top: 80%;
    left: 87.9%;
    height: 20px;
    background-color:#ffffff;
    color: rgb(139, 134, 134) !important;
    opacity: 1;
}
.carousel-control-prev , .carousel-control-next:hover{
    color:black;
}
/* ================== */
/* Carousel label */
/* ================= */
.carousel-item h5{
    position: absolute;
    right:17%;
    bottom: 14.5%;
    color:#ffffff;
    font-size: 12px;
}




/* ================= */
/* Animation */
/* ================ */
@keyframes zoom-out {
    100% {
      width: 100%;
    }
}

@keyframes text-up{
    10%{
        transform: translateY(opx);
    }
    100%{
        transform: translateY(0px);
    }
}
